<div class="animated fadeIn">
  <div class="options">
    <div class="option">
      <dx-button id="button" text="Refresh All" (onClick)="refreshAll()">
      </dx-button>
    </div>
  </div>
  <div ng-if="connectionStarted">
    <dx-data-grid #positionsContainer id="positionsContainer" [dataSource]="dataSource" [showBorders]="true"
      [repaintChangesOnly]="true" [highlightChanges]="true" (onCellClick)="onClickCell($event)">
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-selection mode="single"></dxo-selection>
      <!--
      <dxi-column dataField="Ticket" [allowSorting]="true">
      </dxi-column>
      -->
      <dxi-column dataField="Role" caption="Role" [allowSorting]="true" groupIndex="0"></dxi-column>

      <dxi-column dataField="AccountName" caption="Account Type" [allowSorting]="true"></dxi-column>
      <dxi-column dataField="Symbol" [allowSorting]="true" cellTemplate="symbolCellTemplate" sortOrder="asc">
      </dxi-column>

      <dxi-column dataField="Lots" [allowSorting]="true"></dxi-column>
      <dxi-column dataField="ProfitStopsPercent" caption="%" format="#0.##'%'" [allowSorting]="true" cellTemplate="priceCellTemplate">
        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
      </dxi-column>
      <dxi-column dataField="Profit" caption="$" format="#0.##" [allowSorting]="true" cellTemplate="priceCellTemplate">
        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
      </dxi-column>

      <dxi-column [width]="160" caption="Commands" cellTemplate="cellTemplateClose" [allowFiltering]="false"
        [allowSorting]="false">
      </dxi-column>

      <div *dxTemplate="let data of 'cellTemplateClose'">
        <dx-button text="Close"></dx-button>
      </div>

      <div *dxTemplate="let cell of 'priceCellTemplate'" [class.inc]="cell.data.Profit > 0" [class.dec]="cell.data.Profit < 0">
        <span>{{cell.text}}</span>
      </div>

      <div *dxTemplate="let cell of 'symbolCellTemplate'" [class.inc]="cell.data.Type === 0" [class.dec]="cell.data.Type === 1">
        <span class="arrow"></span>
        <span class="current-value">{{cell.text}}</span>
      </div>

<!--
      <div *dxTemplate="let cell of 'changeCellTemplate'" [class.inc]="cell.data.change > 0" [class.dec]="cell.data.change < 0">
          <span class="current-value">{{cell.text}}</span>
          <span class="arrow"></span>
          <span class="diff">{{cell.data.percentChange.toFixed(2)}}%</span>
      </div>
-->
      <dxo-summary>
        <dxi-total-item column="Ticket" summaryType="count">
        </dxi-total-item>
        <dxi-total-item column="Profit" summaryType="sum" valueFormat="currency">
        </dxi-total-item>
      </dxo-summary>

    </dx-data-grid>
  </div>
<!--
    <div class="card-body">
        <dx-data-grid id="positionsContainer"
              [dataSource]="dataSource"
              keyExpr="_ticket"
              [showRowLines]="true"
              [showColumnLines]="false"
              [showBorders]="true">
              <dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
              <dxi-column dataField="_symbol" [allowSorting]="true" [groupIndex]="0" ></dxi-column>
              <dxi-column dataField="_account" [allowSorting]="true"></dxi-column>
              <dxi-column dataField="_type" [allowSorting]="true"></dxi-column>
              <dxi-column dataField="_magic" [allowSorting]="true" ></dxi-column>
              <dxi-column dataField="_ticket" [allowSorting]="true" ></dxi-column>
              <dxi-column dataField="_opentime" [allowSorting]="true" format="datetime"></dxi-column>
              <dxi-column dataField="_lots" [allowSorting]="true"></dxi-column>
              <dxi-column dataField="_vsl" [allowSorting]="true" format="decimal"></dxi-column>
              <dxi-column dataField="_vtp" [allowSorting]="true" format="decimal"></dxi-column>
              <dxi-column dataField="_profit" [allowSorting]="true"></dxi-column>
              <dxo-summary>
                <dxi-total-item
                    column="`_ticket"
                    summaryType="count"
                    valueFormat="number">
                </dxi-total-item>
              </dxo-summary>
          </dx-data-grid>
      </div>
-->
</div>
