
  <div class="options">
    <div class="option">
      <dx-button id="button" text="Refresh All" (onClick)="refreshAll()">
      </dx-button>
      <dx-button id="buttonSync" text="Sync" (onClick)="syncAll()">
      </dx-button>
    </div>
  </div>
  <div>
    <dx-data-grid #positionsContainer id="positionsContainer" [dataSource]="dataSource" [showBorders]="true"
      [columnHidingEnabled]="true"
      [repaintChangesOnly]="true" [highlightChanges]="true" (onCellClick)="onClickCell($event)">
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="Ticket" [allowSorting]="true" [hidingPriority]="2">
      </dxi-column>
      <dxi-column dataField="Role" caption="Role" [allowSorting]="true" groupIndex="0"></dxi-column>

      <dxi-column dataField="AccountName" caption="Account Type" [allowSorting]="true"></dxi-column>
      <dxi-column dataField="Symbol" [allowSorting]="true" cellTemplate="symbolCellTemplate" sortOrder="asc">
      </dxi-column>

      <dxi-column dataField="Lots" [allowSorting]="true" [hidingPriority]="1"></dxi-column>
      <dxi-column dataField="ProfitStopsPercent" caption="%" format="#0.##'%'" [allowSorting]="true" cellTemplate="priceCellTemplate"
                  [hidingPriority]="3">
        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
      </dxi-column>
      <dxi-column dataField="Profit" caption="$" format="#0.##" [allowSorting]="true" cellTemplate="priceCellTemplate">
        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
      </dxi-column>

      <dxi-column [width]="160" caption="Commands" cellTemplate="cellTemplateClose" [allowFiltering]="false"
        [allowSorting]="false" [hidingPriority]="4">
      </dxi-column>

      <div *dxTemplate="let data of 'cellTemplateClose'">
        <dx-button text="Close"></dx-button>
      </div>

      <div *dxTemplate="let cell of 'priceCellTemplate'" [class.inc]="cell.data.Profit > 0" [class.dec]="cell.data.Profit < 0">
        <span>{{cell.text}}</span>
      </div>

      <div *dxTemplate="let cell of 'symbolCellTemplate'" [class.inc]="cell.data.Type === 0" [class.dec]="cell.data.Type === 1">
        <span class="arrow"></span>
        <span class="current-value">{{cell.text}}</span>
      </div>
    </dx-data-grid>
  </div>
  <div>
    <dx-data-grid #dealsContainer id="dealsContainer"

      [dataSource]="dealsSource"
      keyExpr="Ticket"
      [showRowLines]="true"
      [columnHidingEnabled]="true"
      [showColumnLines]="false"
      [height]="500"
      [showBorders]="true">
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxi-column dataField="AccountName" [allowSorting]="true" [width]="180" groupIndex="0"></dxi-column>
      <dxi-column dataField="CloseTime" [allowSorting]="true" format="datetime" [width]="160" [hidingPriority]="3"></dxi-column>
      <dxi-column dataField="Ticket" [width]="120" [hidingPriority]="1"></dxi-column>
      <dxi-column dataField="Symbol" [allowSorting]="true" cellTemplate="symbolDealCellTemplate">
      </dxi-column>
      <dxi-column dataField="Lots" format="#0.##" [width]="120" [hidingPriority]="2"></dxi-column>
      <dxi-column dataField="Profit" [allowSorting]="true" [width]="120" format="#0.##"></dxi-column>

      <div *dxTemplate="let cell of 'symbolDealCellTemplate'" [class.inc]="cell.data.Type === 1" [class.dec]="cell.data.Type === 0">
        <span class="arrow"></span>
        <span class="current-value">{{cell.text}}</span>
      </div>
    </dx-data-grid>

  </div>
